.card-1 .card-item-content {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin: 0 12px; */
  width: 100%;
  /* padding-top: 8px; */
  position: relative;
}

/* font-size: 35px; */

/* !Card-2 */

.card-2 .card-item-content {
  /* position: absolute; */
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* margin: 0 12px; */
  width: 100%;
  /* padding-top: 8px; */
  position: relative;
}

.card-2 .card-item-icon {
  margin-right: 12px;
  /* background-color: red; */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 18px; */
  position: relative;
}

/* ! card 3 */
.card-3 .card-item-content {
  /* position: absolute; */
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* margin: 0 12px; */
  width: 100%;
  /* padding-top: 8px; */
  position: relative;
}

.card-3 .card-item-icon {
  margin-right: 12px;
  /* background-color: red; */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 18px; */
  position: relative;
}
