.card-1 .card-item-content {
  /* position: absolute; */
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* margin: 0 12px; */
  width: 100%;
  padding-top: 8px;
  position: relative;
}

.card-1 .card-item-icon {
  color: var(--dark-blue);
  margin-right: 12px;
  /* background-color: red; */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 18px; */
  border-radius: 50%;
  position: relative;
}

/* font-size: 35px; */
.card-1 .card-item-footer {
  /* position: absolute; */
  margin: 0 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-1 .card-item-footer p {
  font-size: 24px;
  color: var(--dark-blue);
  font-weight: 500;
  margin: 2px;
}
.card-1 .card-item-footer .ponte {
  display: flex;
  align-items: flex-end;
}
.card-1 .card-item-footer .ponte span {
  margin-right: 4px;
}
.card-1 .card-item-footer span {
  font-size: 14px;
  color: #374151;
  font-weight: 400;
}

/* !Card-2 */

.card-2 .card-item-content {
  /* position: absolute; */
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* margin: 0 12px; */
  width: 100%;
  padding-top: 8px;
  position: relative;
}

.card-2 .card-item-icon {
  margin-right: 12px;
  /* background-color: red; */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 18px; */
  position: relative;
}

/* font-size: 35px; */
.card-2 .card-item-footer {
  /* position: absolute; */
  margin: 0 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-2 .card-item-footer p {
  font-size: 24px;
  color: var(--green-color);
  font-weight: 500;
  margin: 2px;
}
.card-2 .card-item-footer .ponte {
  display: flex;
  align-items: flex-end;
}
.card-2 .card-item-footer .ponte span {
  margin-right: 4px;
}
.card-2 .card-item-footer span {
  font-size: 14px;
  color: #374151;
  font-weight: 400;
}
/* ! card 3 */
.card-3 .card-item-content {
  /* position: absolute; */
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* margin: 0 12px; */
  width: 100%;
  padding-top: 8px;
  position: relative;
}

.card-3 .card-item-icon {
  margin-right: 12px;
  /* background-color: red; */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 18px; */
  position: relative;
}

/* font-size: 35px; */
.card-3 .card-item-footer {
  /* position: absolute; */
  margin: 0 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-3 .card-item-footer p {
  font-size: 24px;
  color: var(--red-color);
  font-weight: 500;
  margin: 2px;
}
.card-3 .card-item-footer .ponte {
  display: flex;
  align-items: flex-end;
}
.card-3 .card-item-footer .ponte span {
  margin-right: 4px;
}
.card-3 .card-item-footer span {
  font-size: 14px;
  color: #374151;
  font-weight: 400;
}
