.container {
  margin: 10px;
  height: calc(90vh - 20px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "card-1 card-2 card-3 card-4"
    "div5 div5 div5 card-4"
    "div5 div5 div5 card-4";
}

.card-1 {
  grid-area: card-1;
  border-top: 4px solid var(--dark-blue);
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: var(--border-radius);
}

.card-2 {
  grid-area: card-2;
  border-top: 4px solid var(--green-color);

  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: var(--border-radius);
}

.card-3 {
  grid-area: card-3;
  border-top: 4px solid var(--red-color);

  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: var(--border-radius);
}

.card-4 {
  grid-area: card-4;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1.5fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "prophylaxie prophylaxie "
    "observations observations   ";
  /* ". .  . . "; */
}
.prophylaxie {
  grid-area: prophylaxie;
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: var(--border-radius);
  overflow-y: scroll;
}
.observations {
  grid-area: observations;
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: var(--border-radius);
}

.div5 {
  grid-area: div5;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "div51 div52 "
    "div51 div52   "
    "div51 div52  ";
}
.div51 {
  grid-area: div51;
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: var(--border-radius);
}
.div52 {
  grid-area: div52;
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: var(--border-radius);
}

.prophylaxie .title,
.observations .title {
  position: sticky;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  margin: 2px;
  padding: 4px;
}
.prophylaxie .card-item {
  display: flex;
  justify-content: space-between;
  /* background: #d9d9d9; */
  margin: 2px;
  padding: 4px;
  border-radius: var(--border-radius);
}
.prophylaxie .card-icon {
  background: #bfe6f4;
  width: 45px;
  height: 45px;
  padding: 4px;
  border-radius: var(--border-radius);
}
.prophylaxie .card-icon img {
  width: 40px;
  height: 40px;
}
.prophylaxie .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.prophylaxie .card-content p {
  font-size: 14px;
  line-height: 22px;
  padding-left: 8px;
  margin: 0;
}

.prophylaxie .card-date {
  font-size: 10px;
  line-height: 22px;
  color: #a1a1a1;
}
/* !observations */
.observations .card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(252, 208, 207, 0.6);
  margin: 4px;
  padding: 2px;
  border-radius: var(--border-radius);
}
.observations .good {
  background: #c5f2c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 2px;
  border-radius: var(--border-radius);
}
.observations .danger {
  background: #fbe5c9b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 2px;
  border-radius: var(--border-radius);
}
.observations .card-title {
  padding-left: 8px;
  font-size: 12px;
  font-weight: 500;
  align-self: flex-start;
  color: #2d2d2d;
}
.observations .card-icon {
  color: var(--red-color);
  /* background: #bfe6f4; */
  width: 35px;
  height: 35px;
  /* padding: 4px; */
}
/* .observations .danger {
} */
.observations .card-item .good {
  color: var(--green-color);
}
.observations .card-item .danger {
  color: #ed9526;
}

.observations .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.observations .card-content p {
  color: var(--red-color);
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 22px;
  padding-left: 8px;
  margin: 0;
}
.observations .good p {
  color: #1f8b24;
}
.observations .danger p {
  color: #ff4800;
}

.observations .card-date {
  font-size: 10px;
  line-height: 22px;
  color: #7d7b7b;
}
