.settings-container {
  margin: 25px;
  padding: 10px;
  padding-bottom: 0;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  border-radius: 12px;

  min-height: calc(90vh - 60px);
  /* background: #fff; */
  /* overflow-y: scroll; */
}

.settings-title {
  margin: 0;
  margin-bottom: 5px;
}

.users-settings {
  display: grid;
  grid-template-columns: 1fr 0.4fr 2fr;
  grid-template-rows: 1fr 1fr 0fr;
  gap: 15px 15px;
  grid-template-areas:
    "create-user create-user user-table "
    "create-user create-user user-table "
    ". . .";
  /* height: auto; */
  width: 100%;
}

.user-table {
  grid-area: user-table;
  background: #fff;
  border-radius: 12px;
  padding-top: 0;
  height: 455px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.user-table table,
.site-table table {
  width: 100%;
  height: 15px;
  border-collapse: collapse;
}

.user-table th,
.site-table th {
  border-bottom: 1px solid #1f2937;
  padding: 6px 10px;
}
.user-table td,
.site-table td {
  border-bottom: 1px solid #1f2937;
  border-collapse: separate;
  text-align: center;
  padding: 4px 10px;
  color: #677383;
  cursor: default;
  font-size: 14px;
}
.user-table .fixed-header,
.site-table .fixed-header {
  background: #dbeafe;
}
.site-table tr:nth-child(even),
.user-table tr:nth-child(even) {
  background: #f3f4f6;
}
.create-user {
  padding: 10px;
  grid-area: create-user;
  background: #fff;
  border-radius: 12px;
}

.sites-settings {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.8fr;
  grid-template-rows: 1fr 1fr 0fr;
  gap: 15px 15px;
  grid-template-areas:
    " create-site manange-bats  site-table "
    " create-site manange-bats  site-table "
    ". . .";
  /* height: auto; */
  width: 100%;
}
.manage-bats {
  grid-area: manange-bats;
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  position: relative;
}
.manage-bats .send-btn {
  position: absolute;
  right: 38%;
  bottom: 0;
  margin-bottom: 15px;
}
.site-table {
  grid-area: site-table;
  background: #fff;
  border-radius: 12px;
  padding-top: 0;
  overflow-y: scroll;
  overflow-x: scroll;
}
.create-site-box {
  width: 100%;
}
.create-site {
  grid-area: create-site;
  padding: 10px;
  background: #fff;
  border-radius: 12px;
}
.create-site-box {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.create-site .input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.create-site-table {
  width: 100%;
  /* border: 1px solid var(--dark-blue); */
  border-top: 0;
  border-bottom: 0;
}
.create-site-table td {
  border-bottom: 1px solid var(--dark-blue);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.even {
  background: #f3f4f6;
}
.create-site-table .delete-icon {
  color: #dc2626;
  cursor: pointer;
  transition: 0.3s linear;
}
.create-site-table .delete-icon:hover {
  color: #991b1b;
}
.create-site-table .edit-icon {
  color: #fbbf24;
  cursor: pointer;
  transition: 0.3s linear;
}
.create-site-table .edit-icon:hover {
  color: #d97706;
}

/**
 * ----------------------------------------
 * animation slit-in-horizontal
 * ----------------------------------------
 */
.slit-in-horizontal {
  -webkit-animation: slit-in-horizontal 0.45s ease-out both;
  animation: slit-in-horizontal 0.45s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-13 20:14:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
  }
}
@keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
  }
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .sites-settings {
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    grid-template-rows: 1fr 1fr 0fr;
    gap: 15px 15px;
    grid-template-areas:
      " create-site  . manange-bats "
      "site-table site-table  site-table "
      ". . .";
  }
}

@media screen and (max-width: 768px) {
  .user-table td,
  .site-table td {
    font-size: 13px;
    padding: 4px;
  }
}

@media screen and (max-width: 550px) {
  .settings-container {
    margin: 0;
  }
  .create-site-box {
    height: 200px;
  }
  .users-settings {
    /* background: #000; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 0;
    grid-template-areas:
      "create-user create-user . "
      "user-table user-table  ."
      ". . .";
    /* height: auto; */
    width: 100%;
  }
  .sites-settings {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 0px;
    grid-template-areas:
      " create-site create-site  . "
      " manange-bats manange-bats  . "
      "site-table site-table  site-table "
      ". . .";
  }
}
